%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Service Desk, #{@user}
    %br/
    %p You have successfully saved your ticket.
    %p
      To view the ticket, just follow this link: #{ticket_url("en", @ticket.id)}
    %p Thanks for joining and have a great day!
