<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.content %>
</p>

<% if comment.user == current_user %>
<p>
  <%= link_to 'Destroy Comment', [comment.ticket, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, remote: true %>
</p>
<% end %>
