%p
  %strong Commenter:
  = comment.user.email
%p
  %strong Comment:
  = comment.content
- if comment.user == current_user
  %p
    = link_to 'Destroy Comment', [comment.ticket, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' }, remote: true
